.carosel-content{
    width: 1030px;
    height: 550;
    filter: drop-shadow(0px 4px 16px rgba(34, 87, 122, 0.15));
    /* background-image: url("https://c4.wallpaperflare.com/wallpaper/295/163/719/anime-anime-boys-picture-in-picture-kimetsu-no-yaiba-kamado-tanjir%C5%8D-hd