/*! Variables */
:root {
    /* Font Styles */
    --mainfont: 'Onest', sans-serif;

    /* Color Variables */
    --colorBlueMain: #22577A;
    --colorBlack: #010101;
    --colorSecondYellow: #f7e8cf;
    --colorYellow: #EAAB44;
    --colorGray: #606566;
    --colorWhite: #FDFDFD;
    --colorBackground: #F4F9FF;
}

body{
    font-family: var(--mainfont) !important;
    cursor: default;
    height: 100vh;
    background-color: var(--colorBackground);
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

/* Reset Styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Text Selection Styles */
::-moz-selection {
    color: var(--colorBlack);
    background: var(--colorBlueMain);
}

/* Page selection colos  */
::selection {
    color: var(--colorWhite);
    background: var(--colorBlueMain);
}

/* All Other Content */
/* Here section Start here */

/* nav bar */
.container{
    margin-left: 125px !important;
    margin-right: 125px !important;
}

.main-logo img{
    width: 110px;
    flex-shrink: 0;
}

.nav-link{
    color: var(--colorBlueMain) !important;
    font-family: var(--mainfont);
    font-size: 18px !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
}
.nav-link:hover{
    color: var(--colorYellow) !important;
    /* letter-spacing: 1.2px !important; */
}

.button{
    width: 136px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 16px 0px rgba(34, 87, 122, 0.25);
    background: var(--colorBlueMain);
    color: var(--colorWhite);
    border-color: transparent ;
    transition: 10ms;
    font-weight: 500;
    letter-spacing: 1px;
}

.button:hover{
    background-color: var(--colorYellow) !important;
}

.navbar-nav {
    text-align: center;
}
  
.nav-item {
    display: inline-block;
    margin: 0 15px;
}
.navbar-nav .nav-item {
    margin-right: 5px;
  }

.navbar{
    background-color: var(--colorBackground) !important;
    height: 70px !important;
}

/* hero -->> carosel */

.space-tb-20{
    height: 20px !important;
}
.space-tb-15{
    height: 15px !important;
}
.space-tb-10{
    height: 10px !important;
}
.space-tb-5{
    height: 5px !important;
}
.space-tb-60{
    height: 60px !important;
}
.hero-section{
    margin-top: auto;
    width: 100% !important;
    height: 90vh !important;
    /* background-color: #ec6f6f; */
}

/* carosel start */
.carosel{
    margin-top: 100px;
    height: 550px !important;
    width: 100%;
    border-radius: 12px;
    /* background-image: url("../images/hero images/caroselArugambe.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes animate {
    0%{
        background-image: url("../images/hero images/carosel18Bond.jpg");
    }
    20%{
        background-image: url("../images/hero images/caroselPeacock.jpg");
    }
    40%{
        background-image: url("../images/hero images/caroselElle.jpg");
    }
    60%{
        background-image: url("../images/hero images/caroselArugambe.png");
    }
    80%{
        background-image: url("../images/hero images/caroselSigiriya.jpg");
    }
    100%{
        background-image: url("../images/hero images/caroselTempleOfTooth.jpg");
    }
}

.caro-text{
    color: var(--colorWhite);
    font-weight: 700;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}

.caro-gradient{
    margin-top: 100px;
    height: 550px !important;
    width: 100%;
    border-radius: 12px;
    background: linear-gradient(180deg, #023B4D -51.26%, rgba(5, 54, 73, 0.00) 100%);
}
/* carosel end */

/* back box end */
.back-box{
    width: 800px;
    height: 155px;
    border-radius: 16px;
    box-shadow: 0px 2px 30px 0px rgba(182, 182, 182, 0.25);
    align-items: center;
    margin-top: -70px;
    /* z-index: 100; */
    background-color: var(--colorWhite);
}

.back-box-links{
    padding-top: 15px;
    /* padding-bottom: 15px; */
}
/* line hr */
.line-hr{
    height: 2px;
    width: 650px;
    background-color: var(--colorBlueMain);
    border-radius: 50px;
    opacity: 40%;
}

.search-area{
    /* background-color: red; */
    margin-top: 15px;
    margin-left: 25px;
}

.searchBar{
    height: 44px;
    border: transparent !important;
    padding: 10px;
    border-radius: 8px;
    background: #EFEFEF !important;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.02);

    /* width: 590px !important; */
}

input {
    width: 590px; /* Set the width of the input element */
    padding: 10px; /* Add padding inside the input element */
    margin: 5px 0; /* Add margin around the input element */
    border: 1px solid #ccc; /* Set a border with a color */
    border-radius: 5px; /* Round the corners of the input element */
    background-color: #f2f2f2; /* Set the background color */
    color: #333; /* Set the text color */
    font-size: 16px; /* Set the font size */
    outline: none; /* Remove the default focus outline */
    box-shadow: 0px 4px 16px 0px rgba(34, 87, 122, 0.25);
    transition: border 0.3s; /* Add a smooth transition for the border */
  }
  
input::placeholder {
    color: #C5C5C5; /* Set the color you desire */
  }

  /* hero section end */

 /* 
 ==============================================
                  Destinations                  
 ============================================== 
 */

.destinations{
    background-color: var(--colorBlueMain);
    width: 100%;
    height: auto;
}

.destination-main-txt{
    color: var(--colorWhite);
    font-family: var(--mainfont);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    margin-bottom: 30px;
}

.explore-txt{
    color: var(--colorWhite);
    font-family: var(--mainfont);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.36px;
}

.textArea{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 250px;
    height: 276px;
    padding: 10px !important;
}

.card-col {
    margin-right: 5px; /* Adjust the margin as needed */
}
.card{
    padding: 0px !important;

    border-radius: 12px !important;
    background: #FFF;
}
.cardImg{
    display: flex;
    width: 100% !important;
    height: 125px !important;
    background-color: red;
    align-self: center;

    border-radius: 10px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardText{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    padding-top: 20px;
    font-family: var(--mainfont);
    color: var(--colorBlueMain);
    font-size: 27px !important;
    font-weight: 700;

}

.cardLocation{
    justify-content: center;
    color: var(--colorBlueMain);
    text-align: center;
    font-family: var(--mainfont);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.14px;
    margin-left: 5px;

}


 /* 
 ==============================================
                  Choose US                  
 ============================================== 
 */

.choose-us{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 580px;
}

.ch-left{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.ch-right{
    height: 100%;
    width: 100%;
    margin-top: 120px;
}

.c-img{
    height: 400px;
    width: 400px;
    border-radius: 12px;
    margin-top: 75px;
}

.c-main-txt{
    color: var(--colorBlueMain);
    font-family: var(--mainfont);
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
}

.c-para{
    color: var(--colorBlueMain);
    font-family: var(--mainfont);
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.17px;
}
/* Here section End here */


